* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin-top: 5rem;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__content {
  width: 16rem;
  height: 20rem;
  border: 1px solid black;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__container button {
  margin: 4px;
  width: 3.5rem;
}

.active {
    background-color: rgb(99, 94, 94);
    color: white;
}